<mat-horizontal-stepper [linear]="isLinear" #stepper (selectionChange)="selectionChange($event)">
  <mat-step [stepControl]="startForgotPasswordForm">
    <form class="large-form" [formGroup]="startForgotPasswordForm">
      <ng-template matStepLabel>Enter your username</ng-template>
      <mat-form-field class="full-width-input" appearance="standard">
        <input formControlName="username" type="text" matInput placeholder="Username" value="{{username}}" required>
      </mat-form-field>
      <mat-error *ngIf="startForgotPasswordForm.get('username').hasError('required') && startForgotPasswordForm.dirty">
        A username is required
      </mat-error>
      <mat-error *ngIf="errorMessage">
        {{errorMessage}}
      </mat-error>
      <div>
        <button mat-button (click)="requestPasswordReset()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="enterMFAConfirmationCode">
      <ng-template matStepLabel>Enter your MFA code</ng-template>
    <form class="large-form" [formGroup]="enterMFAConfirmationCode">
      <mat-form-field class="full-width-input" appearance="standard">
        <input matInput formControlName="mfaCode" placeholder="Enter your MFA confirmation code">
      </mat-form-field>
      <ng-template matStepLabel>Enter a password</ng-template>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Password" required [type]="hidePassword ? 'password' : 'text'" formControlName="password">
          <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
      <mat-error *ngIf="errorMessage">
        {{errorMessage}}
      </mat-error>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="resetPassword()">Next</button>
        <button mat-button (click)="resendMFACode()">Resend Code</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    Your password was successfully reset.
    <div>
      <button mat-button (click)="redirectToSignIn()">Sign In</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
<!-- <div *ngIf="showForgotPasswordStart">
  <form class="large-form" [formGroup]="startForgotPasswordForm">
    <mat-form-field class="full-width-input" appearance="standard">
      <input formControlName="username" type="text" matInput placeholder="Username" value="{{username}}" required>
    </mat-form-field>
    <mat-error *ngIf="startForgotPasswordForm.get('username').hasError('required') && startForgotPasswordForm.dirty">
      A username is required
    </mat-error>
    <div class="push-right">
      <button type="button" mat-button (click)="requestPasswordReset()">Request Password Reset</button>
    </div>
  </form>
</div>
<div *ngIf="showForgotPasswordVerify">
  <form class="large-form" [formGroup]="confirmForgotPasswordForm">
    <mat-form-field class="full-width-input" appearance="standard">
      <input matInput formControlName="mfaCode" placeholder="Enter your MFA confirmation code">
    </mat-form-field>
    <mat-error *ngIf="errorMessage">
      {{errorMessage}}
    </mat-error>
    <div class="push-right">
      <button type="button" mat-button (click)="requestPasswordReset()">Start over</button>
      <button mat-button (click)="resetPassword()">Request Password Reset</button>
    </div>
    <div *ngIf="sentMFACode" [@fade]="sentMFACode ? 'in' : ''">
      <p>Hello!</p>
    </div>
    <div *ngIf="hasMFACodeError">
      <p [@fade]="'in'">Couldn't send MFA code: {{errorMessage}}</p>
    </div>
  </form>
</div> -->
<div *ngIf="isSignedIn">
  <p>You are currently signed in.</p>
</div>